<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: lavender;}
ul.a {list-style-type: circle;}
</style>
</head>
<body>
<h1>About me</h1>
<p>Hello, I am Nishant.</p>
<ul class="a">
	<li>I have my MS in Electrical Engineering.</li>
	<li>I am 25 years old.</li>
	<li>I am training with ConsultADD.</li>
</ul>
</body>
</html>
