<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: lavender;}
</style>
</head>
<body>
<img src="http://www.consultadd.com/wp-content/uploads/Final_logo.png">
<h1>Welcome to my page!!!</h1>
<p>This is my first Ruby project.</p>
</body>
</html>
